@charset "utf-8";
*{ margin:0px; padding:0px; font-size:14px;}
li{ list-style:none;}
.fl{ float:left;}
.fr{ float:right;}
a{color: #9d9d9d;}
a:hover,a:visited,a:link{text-decoration:none;}
ul{ margin:0px; padding:0px; list-style-type:none;}
